PORT=4000

# Sendgrid API key
SENDGRID_API_KEY=your-sendgrid-api-key

# Resend API KEY
RESEND_API_KEY=your-resend-api-key

# Brevo API KEY
BREVO_API_KEY=your-brevo-api-key

# Mailgun API KEY
MAILGUN_API_KEY=your-mailgun-api-key

# Postmark
POSTMARK_API_KEY=your-postmark-api-key